# Server port
SERVER_PORT=8888

# Database
DB_URL=jdbc:postgresql://localhost:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DRIVER_CLASS_NAME=org.postgresql.Driver

# Jpa hibernate
DDL_AUTO=update

# Multipart file
MAX_FILE_SIZE=10MB
MAX_REQUEST_SIZE=10MB
FILE_UPLOAD_DIR=./uploads/files

# Logging
LOGGING_FILE_PATH=./log/application
LOGGING_FILE_SIZE=10MB
LOGGING_LEVEL_ROOT=info
LOGGING_LEVEL_WEB=info

# Keycloak
KEYCLOAK_REALM=planning
KEYCLOAK_CLIENT_ID=theara
KEYCLOAK_CLIENT_SECRET=oBiM0TtZTUpyOnBUKyvpF4K8FWyY8Iig
KEYCLOAK_SERVER_URL=http://localhost:8080

# Google
CLIENT_ID=
CLIENT_SECRET=
CALL_BACK_URI=http://localhost:8888/v1/auth/callback
GRANT_TYPE=authorization_code
JWK_SET_URI=https://www.googleapis.com/oauth2/v3/certs
ISSUER_URI=https://accounts.google.com